# ---------------------------------------------------------
# Intermediate Files
# ---------------------------------------------------------

.DS_Store
*.pyc

# ---------------------------------------------------------
# Build System
# ---------------------------------------------------------

package-lock.json
yarn.lock
dist/
node_modules/

# ---------------------------------------------------------
# Internal directories
# ---------------------------------------------------------

.vagrant/
.idea/
coverage/
coverages/
temp-gnupg-dir/
virtual_env/
