<!DOCTYPE html>
<html lang = "en">
<head>
   <meta charset = "utf-8">
   <title> Pseudonym Request Client </title>
   <link rel = "stylesheet" href="css/style.css">
</head>
<body>
   <form>
      <div>
         <p>Token: </p>
         <textarea id = "token_textarea" cols = "100" rows = "3"
                   placeholder = "Please enter here your token."></textarea>
      </div>
      <div>
         <p>Public Key: </p>
         <textarea id = "public_key_textarea" cols = "100" rows = "50"
                   placeholder = "Please enter here your public key."></textarea>
      </div>
      <button type = "button"
              id = "activate_pseudonym_button"> Activate Pseudonym
      </button>
   </form>
   <pre id="server_public_key"> {public_key} </pre>

   <script src="js/verifyme.js"></script>
</body>
</html>
